@font-face {
    font-family: "RobotoRegular";
    src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoBold";
    src: url("fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Yellowtail";
    src: url("fonts/Yellowtail/Yellowtail-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}