/* ----------- общие стили -----------*/
body {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
}

.subtitle {
    font-family: "RobotoBold";
    color: #274C5B;
    font-size: 70px;
    font-family: Roboto;
}

.title {
    font-family: "Yellowtail";
    color: #7EB693;
    font-size: 36px;
}

.info-text {
    font-family: "OpenSans";
    color: #525C60;
    font-size: 18px;
    line-height: 32.4px;
    letter-spacing: 0.36px;
}

/* ----------- обшие стили для кнопок ----------- */
/* <<<<<<<<<<<<<<<<<<<<<<<< */
.button {
    border-radius: 16px;
    height: 82px;
    font-size: 19px;
    font-family: Roboto;
    line-height: 32px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    /* padding-left: 20px; */
}

.arrow {
    display: inline-block;
    border-radius: 40px;
    width: 36px;
    height: 33px;

    background-color: #335B6B;
    border: 1px solid #335B6B;
    margin-left: 24px;
}

.arrow-yellow {
    display: inline-block;
    border-radius: 40px;
    width: 40px;
    height: 28px;
    background-color: #335B6B;
    border: 1px solid #335B6B;
    margin-left: 24px;
}

.arrow-white {
    display: inline-block;
    border-radius: 40px;
    width: 28px;
    height: 30px;
    background-color: #335B6B;
    border: 1px solid #335B6B;
    margin-left: 29px;
}

.arrow-small {
    display: inline-block;
    width: 19px;
    height: 19px;
}

.button-yellow {
    border: 1px solid #EFD372;
    background: #EFD372;
    text-transform: capitalize;
    padding-left: 29px;
    padding-top: 2px;
    color: #274C5B;
    font-size: 19px;
    font-family: Roboto;
    line-height: 32px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

.button-darkgrey {
    border: 1px solid #274C5B;
    background: #274C5B;
    text-transform: capitalize;
    padding-left: 29px;
    padding-top: 2px;
    color: #FFF;
    font-size: 19px;
    font-family: Roboto;
    line-height: 32px;
    letter-spacing: 0.6px;
    text-transform: capitalize;
}

.button-white {
    border: 1px solid #274C5B;
    background: #FFF;
    text-transform: capitalize;
    padding-left: 29px;
    padding-top: 2px;
    color: #274C5B;
    font-size: 20px;
    font-family: Roboto;
    line-height: 32px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>> */

/* Общие стили цветов для title, subtitle */
.text-white {
    color: #ffffff;
}

.text-green {
    color: #7EB693;
}

.text-darkgrey {
    color: #274C5B;
}


/* ----------- header ----------- */
.header {
    padding-top: 40px;
    /* padding-bottom: 54px; */
}

.header-logo {
    margin-top: 7px;
    margin-left: 30px;
}

.header__menu {
    margin-top: -48px;
    margin-left: 310px;
    list-style: none;
}

.menu__item {
    display: inline-block;
    font-family: "RobotoRegular";
    color: #274C5B;
    cursor: pointer;
    font-size: 19px;
    line-height: 32px;
    padding-right: 38px;
    letter-spacing: 0.36px;
}

.menu__item:last-child {
    padding-left: 22px;
}

.menu__item:hover {
    font-family: "RobotoRegular";
    color: #7EB693;
}


.header__basket {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "RobotoRegular";
    color: #274C5B;
    background-color: #FFFFFF;
    border: 1px solid #D4D4D4;
    border-radius: 33px;
    margin-top: -66px;
    margin-left: 1251px;
    height: 70px;
    width: 159px;
    font-size: 17px;
}

.header__basket-img {
    width: 56px;
    height: 56px;
    margin-left: -22px;
    margin-top: 0px;
}

.header__basket-text {
    margin-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.header__basket-quantity {
    margin-bottom: 3px;
}

/* ----------- header__welcome -----------*/
.header__welcome {
    padding-top: 40px;
    height: 913px;
}

.welcome__container {
    background-image: url(../img/main-image.svg);
    background-size: cover;
    background-size: no-repeat;
    width: 1440px;
    height: 913px;
}

.welcome__title {
    /* color: #7EB693;
    font-size: 36px;
    font-family: Yellowtail; */
    line-height: 64.8px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    padding-top: 220px;
    padding-left: 30px;
}

.welcome__subtitle {
    /* color: #274C5B;
    font-size: 70px;
    font-family: Roboto; */
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0.36px;
    width: 525px;
    padding-top: 14px;
    padding-left: 30px;
}

.welcome__button {
    width: 219px;
    margin-top: 30px;
    margin-left: 30px;
    /* color: #274C5B;
    font-size: 19px;
    font-family: Roboto;
    line-height: 32px; */
    /* letter-spacing: 0.36px; */
    /* text-transform: capitalize;
    padding-left: 29px;
    padding-top: 2px; */
}

/* ----------- short-info -----------*/
.short-info__container {
    margin-top: 140px;
    margin-bottom: 140px;
}

.short-info__list {
    margin: 0;
    /* margin-top: 35px; */
    margin-left: -10px;
    list-style: none;
}

.short-info__item {
    display: inline-block;
}

.short-info__item:not(:last-child) {
    margin-right: 46px;
}

.short-info__item:nth-child(1) {
    background-image: url(../img/natural.svg);
    background-size: cover;
    background-size: no-repeat;
    width: 665px;
    height: 378px;
}

.short-info__item:nth-child(2) {
    background-image: url(../img/offer.svg);
    background-size: cover;
    background-size: no-repeat;
    width: 665px;
    height: 378px;
}

.short-info__title {
    font-size: 36px;
    line-height: 64.8px;
    letter-spacing: 0.36px;
    padding-top: 105px;
    padding-left: 55px;
}

.short-info__subtitle {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.36px;
    padding-top: 1px;
    padding-left: 55px;
    width: 264px;
}

/* ----------- about-us -----------*/
.about-us__container {
    height: 1006px;
    background: #F9F8F8;
}

.about-us__info {
    width: 675px;
    margin-top: -695px;
    margin-left: 705px;
}

.about-us__img {
    display: inline-block;
    width: 675px;
    height: 642px;
    margin-top: 177px;
    margin-left: 30px;
}

.about-us__title {
    font-size: 36px;
    line-height: 64.8px;
    letter-spacing: 0.36px;
    /* margin-top: 130px; */
    margin-left: 30px;
}

.about-us__subtitle {
    font-size: 45px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 58.5px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    width: 521px;
    margin-top: 0px;
    margin-left: 30px;
}

.about-us__description {
    width: 670px;
    margin-top: 22px;
    margin-left: 30px;
}

.about-us__list {
    list-style: none;
    margin-top: 56px;
    margin-left: -8px;
}

.about-us__item {
    margin-bottom: 30px;
}

.about-us__item-img {
    border-radius: 20px;
    background: #FFF;
    padding: 29px 24px 24px 22px;
}

.about-us__item:nth-child(1) .about-us__item-img {
    width: 53px;
    height: 46px;
    padding: 29px 24px 24px 22px;
}

.about-us__item:nth-child(2) .about-us__item-img {
    width: 56px;
    height: 52px;
    padding: 20px 24px 24px 20px;
}

.about-us__item-description {
    margin-left: 20px;
}

.item-description__title {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.36px;
}

.about-us__item:nth-child(1) .about-us__item-description {
    margin-top: -103px;
    margin-left: 118px;
}

.about-us__item:nth-child(1) .item-description__text {
    margin-top: 10px;
    width: 552px
}

.about-us__item:nth-child(2) .about-us__item-description {
    margin-top: -114px;
    margin-left: 118px;
}

.about-us__item:nth-child(2) .item-description__title {
    margin-top: 7px;
}

.about-us__item:nth-child(2) .item-description__text {
    margin-top: 10px;
    width: 539px;
}

.about-us__button {
    margin-left: 30px;
    margin-top: 12px;
    width: 199px;
}

/* ----------- our-product -----------*/
.our-product__container {
    height: 1502px;
}

.our-product__title {
    margin-left: 698px;
    margin-top: 120px;
    font-size: 36px;
    line-height: 64.8px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

.our-product__subtitle {
    margin-left: 607px;
    margin-top: 0px;
    font-size: 45px;
    font-weight: 700;
    line-height: 58.5px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

.our-product__good {
    margin-top: 40px;
}

.our-product__good {
    display: inline-block;
    width: 447px;
    height: 590px;
    border-radius: 30px;
    background: #F9F8F8;
    margin-left: 30px;
    margin-right: -13px;
    margin-bottom: -21px;
}

.label {
    border-radius: 8px;
    background: #274C5B;
    padding: 6px 24px 5px 21px;
    color: #FFF;
    font-size: 15px;
    font-family: "OpenSans";
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.36px;
}

.good__label {
    display: inline-block;
    margin-top: 28px;
    margin-left: 30px;
}

.good__img {
    width: 387px;
    height: 378px;
    margin-top: 0px;
    margin-left: 30px;
}

.good__title {
    color: #274C5B;
    font-size: 22px;
    font-family: Roboto;
    line-height: 35.2px;
    letter-spacing: 0.36px;
    margin-top: 15px;
    margin-left: 30px;
}

.good__line {
    width: 386.656px;
    height: 2px;
    border: none;
    border-top: 1px solid #D4D4D4;
    background: #D4D4D4;
    margin-top: 10px;
}

.good__price-quality {
    margin-top: 10px;
}

.good__old-price {
    display: inline-block;
    color: #B8B8B8;
    font-size: 17px;
    font-family: Open Sans;
    line-height: 32.4px;
    letter-spacing: 0.36px;
    text-decoration-line: line-through;
    margin-left: 30px;
}

.good__new-price {
    display: inline-block;
    color: #274C5B;
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 32.4px;
    letter-spacing: 0.36px;
    margin-left: 11px;
}

.good__img-stars {
    display: block;
    margin-top: -26px;
    margin-left: 332px;
}

/* установка стилей отдельным элементам карточки товара */
.our-product__good:nth-child(3) .good__label {
    margin-left: 26px;
}

.our-product__good:nth-child(3) .good__title {
    margin-left: 27px;
}

.our-product__good:nth-child(4) .good__label {
    margin-top: 30px;
    padding: 5px 25px 5px 21px;
}

.our-product__good:nth-child(5) .good__label {
    padding: 5px 25px 5px 17px;
}

.our-product__good:nth-child(5) .good__img-stars {
    margin-left: 330px;
}

.our-product__good:nth-child(6) .good__img {
    margin-left: 27px;
}

.our-product__good:nth-child(6) .good__label {
    padding: 5px 24px 5px 21px;
    margin-left: 26px;
}

/* ----------- testimonial ----------- */
.testimonial__container {
    background-image: url(../img/Testimonial.png);
    background-size: cover;
    background-size: no-repeat;
    width: 1440px;
    height: 1248px;
}

.testimonial__title {
    padding-top: 130px;
    text-align: center;
    font-size: 36px;
    line-height: 64.8px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

.testimonial__subtitle {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    line-height: 58.5px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

.testimonial__reviews {
    margin-top: 60px;
}

.reviews__img {
    margin-left: 663px;
}

.reviews__stars {
    margin-top: 12px;
    margin-left: 659px
}

.reviews__comment {
    width: 942px;
    text-align: center;
    margin-top: 26px;
    margin-left: 249px;
}

.reviews__author {
    color: #274C5B;
    text-align: center;
    font-size: 26px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 33.8px;
    letter-spacing: 0.36px;
    margin-top: 23px;
}

.reviews__type {
    color: #525C60;
    text-align: center;
    font-size: 14px;
    font-family: Open Sans;
    line-height: 27px;
    letter-spacing: 0.36px;
}

.reviews__line {
    width: 966px;
    height: 2px;
    border: none;
    border-top: 1px solid #E0E0E0;
    background: #E0E0E0;
    margin-top: 95px;
}

.reviews__list {
    list-style: none;
}

.result {
    width: 240px;
    height: 240px;
    border-radius: 200px;
    border: 6px solid #7EB693;
    background: #F1F1F1;
}

.reviews__result {
    margin-top: 83px;
    margin-left: 141px
}

.reviews__item:first .reviews__result {
    margin-left: 181px;
}

.reviews__item:not(:last-child) .reviews__result {
    margin-right: -121px;
}


.reviews__item {
    display: inline-block;
}

.result__title {
    color: #274C5B;
    text-align: center;
    font-size: 42px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 54.6px;
    letter-spacing: 0.36px;
    padding-top: 76px;
}

.result__subtitle {
    color: #274C5B;
    text-align: center;
    font-size: 18px;
    font-family: OpenSans;
    font-weight: 700;
    line-height: 32.4px;
    letter-spacing: 0.36px;
    margin-left: -3px;
    margin-top: 1px
}

/* ----------- offer-products ----------- */
.offer-products__container {
    /* display: inline-block; */
    height: 1059px;
    width: 1440px;
    background: #274C5B;
}

.offer-products__blocks {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.offer-products__left-block {
    /* display: inline-block; */
    width: 682px;
}

.offer-products__right-block {
    /* display: inline-block; */
    width: 267px;
}

.offer-products__title {
    /* padding-top: 139px;
    padding-left: 30px; */
    padding-top: 139px;
    margin-left: 30px;
    font-size: 36px;
    line-height: 64.8px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

.offer-products__subtitle {
    padding-top: 0px;
    padding-left: 30px;
    font-size: 45px;
    font-weight: 700;
    line-height: 58.5px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

.offer-products__button {
    width: 267px;
    margin-left: -40px;
    margin-top: 183px;
}


.offer-products__good {
    margin-top: 43px;
}

.offer-products__good {
    display: inline-block;
    width: 447px;
    height: 590px;
    border-radius: 30px;
    background: #F9F8F8;
    margin-left: 30px;
    margin-right: -13px;
    margin-bottom: -21px;
}

.offer-products__good .good__label {
    margin-top: 30px;
}

.offer-products__good:nth-child(2) .good__label {
    padding: 5px 21px 6px 20px;
}

/* .offer-products__good:nth-child(3) .good__label {
    margin-left: 27px;
} */

.offer-products__good:nth-child(3) {
    margin-left: 27px;
}


/* -----------  eco-friendly -----------  */
.eco-friendly__container {
    background-color: #FFFFFF;
    height: 704px
}

.eco-friendly__img {
    width: 720px;
    height: 704px;
}

.eco-friendly__description {
    position: relative;
    top: -669px;
    left: 660px;
    /* width: 720px; */
    height: 623px;
    border-radius: 30px 0px 0px 30px;
    background: #FFF;
}

.eco-friendly__title {
    padding-top: 39px;
    margin-left: 60px;
    font-size: 36px;
    line-height: 64.8px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

.eco-friendly__subtitle {
    margin-left: 60px;
    margin-top: -1px;
    width: 301px;
    font-size: 44px;
    font-weight: 700;
    line-height: 58.5px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

.eco-friendly__article {
    margin-bottom: -20px;
}

.eco-friendly__name-article {
    margin-left: 60px;
    margin-top: 29px;
    color: #274C5B;
    font-size: 23px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 32.2px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

.eco-friendly__text-article {
    margin-left: 60px;
    margin-top: 5px;
    width: 601px;
}

/* ----------- type-goods ----------- */
.type-goods__container {
    height: 860px;
    background-color: #EFF6F1;
}

.type-goods__cards {
    display: flex;
    padding: 140px 0;
    margin-top: -2px;
    /* padding-top: 243px; */
}

.type-goods__card {
    color: #274C5B;
    text-align: center;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0.36px;
}

.type-goods__card:nth-child(1) {
    background-image: url(../img/type-goods/FruitJuice.png);
    background-size: cover;
    background-size: no-repeat;
    width: 460px;
    height: 580px;
    margin-right: 30px;
}

.type-goods__card:nth-child(2) {
    background-image: url(../img/type-goods/OrganicFood.png);
    background-size: cover;
    background-size: no-repeat;
    width: 460px;
    height: 580px;
    margin-right: 30px;
}

.type-goods__card:nth-child(3) {
    background-image: url(../img/type-goods/NutsCookies.png);
    background-size: cover;
    background-size: no-repeat;
    width: 460px;
    height: 580px;
}

.card__name {
    display: inline-block;
    margin-top: 243px;
    padding: 30px 79px;
    border-radius: 20px;
    background: #FFF;
}

/* ----------- footer ----------- */
/* ----------- footer__news -----------  */
.news__container {
    display: inline-block;
    /* height: 2226px; */
}

.news__blocks {
    display: flex;
}

.news__title {
    margin-top: 130px;
    margin-left: 30px;
    font-size: 35px;
    line-height: 64.8px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

.news__subtitle {
    margin-top: 2px;
    margin-left: 30px;
    width: 1101px;
    font-size: 45px;
    font-weight: 700;
    line-height: 58.5px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

.news__button {
    margin-top: 194px;
    margin-left: 59px;
    width: 211px;
}

.news__images {
    /* display: inline-block; */
    margin-top: 106px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.news__image:nth-child(1) {
    margin-left: 35px;
    margin-right: 31px;
    background-image: url(../img/footer/news/cabbage.png);
    background-size: cover;
    background-size: no-repeat;
    width: 670px;
    height: 515px;
    border-radius: 30px;
}

.news__image:nth-child(2) {
    /* margin-top: 125px; */
    /* margin-left: 735px; */
    background-image: url(../img/footer/news/tomatoes.png);
    background-size: cover;
    background-size: no-repeat;
    width: 670px;
    height: 515px;
    border-radius: 30px;
}

.news__article:nth-child(1) {
    position: relative;
    top: -264px;
    left: 65px;
    width: 610px;
    height: 337px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.14);
}

.news__article:nth-child(2) {
    position: relative;
    top: -601px;
    left: 765px;
    width: 610px;
    height: 337px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.14);
}


.article__author {
    display: inline-block;
    padding-top: 50px;
}

.article__symbol {
    width: 18px;
    height: 20px;
    padding-top: 2px;
    margin-left: 50px;
    margin-right: 9px;
}

.article__full-name {
    margin-top: -24px;
    margin-left: 78px;
    color: #274C5B;
    font-size: 17px;
    font-family: Roboto;
    line-height: 23.4px;
    letter-spacing: 0.36px;
}

.article__name {
    margin-top: 12px;
    margin-left: 50px;
    color: #274C5B;
    font-size: 25px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0.36px;
}

.article__text {
    margin-top: 38px;
    margin-left: 50px;
    width: 442px;
    color: #525C60;
    font-size: 18px;
    font-family: Open Sans;
    line-height: 32.4px;
    letter-spacing: 0.36px;
}

.article__button {
    margin-top: 22px;
    margin-left: 50px;
    color: #274C5B;
    font-size: 20px;
    font-family: Roboto;
    line-height: 28px;
    letter-spacing: 0.36px;
}

.article__arrow {
    vertical-align: middle;
    margin-left: 7px;
    margin-top: -5px;
}

/* -----------  footer__subscribe -----------  */
.subscribe__container {
    margin-top: -444px;
    margin-left: 30px;
    background-image: url(../img/footer/Subscribe.png);
    background-size: cover;
    background-size: no-repeat;
    width: 1380px;
    height: 320px;
}

.subscribe__title {
    padding-top: 100px;
    margin-left: 70px;
    width: 324px;
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

.subscribe__form {
    margin-top: -102px;
}

.subscribe__input {
    margin-left: 743px;
    padding: 24px 101px 27px 30px;
    width: 218px;
    border-radius: 16px;
    border: 1px solid #CCC;
    background: #FFF;
    color: #525C60;
    font-size: 18px;
    font-family: Open Sans;
    line-height: 28.8px;
    letter-spacing: 0.36px;
}

.subscribe__button {
    margin-left: 6px;
    padding-right: 9px;
    padding-bottom: 4px;
    padding: 22px 3px 21px 35px;
}

.subscribe__arrow {
    display: inline-block;
    margin-left: 20px;
}

.subscribe__arrow-size {
    vertical-align: middle;
    width: 14px;
    height: 9px;
}

/* ----------- footer__general-info ----------- */
.general-info__container {
    margin-top: 182px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

/* ------------------------------ */
.general-info__contact-us {
    /* margin-left: 95.5px; */
    margin-right: 7px;
    /* width: 269.453px; */
}

.general-info__title {
    margin-left: 196px;
    margin-bottom: 34px;
    color: #274C5B;
    text-align: right;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.36px;
}

.general-info__type-contact {
    color: #525C60;
    text-align: right;
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 23.4px;
    letter-spacing: 0.36px;
}

.general-info__data {
    margin-bottom: 38px;
}

.general-info__type-contact {
    margin-bottom: 6px;
}

.general-info__contact-data:nth-child(1) {
    color: #525C60;
    text-align: right;
    font-size: 18px;
    font-family: Open Sans;
    line-height: 28.8px;
    letter-spacing: 0.36px;
}

.general-info__contact-data:nth-child(2) {
    color: #525C60;
    text-align: right;
    font-size: 17px;
    font-family: Open Sans;
    line-height: 28.8px;
    letter-spacing: 0.36px;
}

.general-info__contact-data:nth-child(3) {
    color: #525C60;
    text-align: right;
    font-size: 18px;
    font-family: Open Sans;
    line-height: 32.4px;
    letter-spacing: 0.36px;
}

/* -------------------------------- */
.general-info__social-media {
    margin-left: -19px;
    text-align: center;
    border-right-color: #D5D5D5;
    border-right-style: solid;
    border-right-width: 2px;
    border-left-color: #D5D5D5;
    border-left-style: solid;
    border-left-width: 2px;
    width: 670px;
    height: 369px;
}

.general-info__text {
    margin-top: 40px;
    margin-left: 51px;
    width: 567px;
}

.general-info__list {
    /* display: flex; */
    list-style: none;
    margin-left: -26px;
    margin-top: -2px;
    /* justify-content: center;
    flex-direction: row; */
}

.general-info__item {
    padding: 20px;
    margin-top: 60px;
    display: inline-block;
    margin-right: 19px;
    border-radius: 100px;
    background: #EFF6F1;
}

.general-info__item:nth-child(1) {
    padding: 20px 20px 19px 18px;
}

.general-info__item:nth-child(1) .general-info__img {
    width: 20px;
    height: 19px;
}

.general-info__item:nth-child(2) {
    margin-left: -1px;
    padding: 21px 19px 20px 18px;
}

.general-info__item:nth-child(2) .general-info__img {
    width: 21px;
    height: 17px;
}

.general-info__item:nth-child(3) {
    margin-left: -1px;
    padding: 21px 19px 20px 18px;
}

.general-info__item:nth-child(3) .general-info__img {
    width: 20px;
    height: 19px;
}

.general-info__item:nth-child(4) {
    margin-left: -1px;
    padding: 21px 19px 20px 18px;
}

.general-info__item:nth-child(4) .general-info__img {
    width: 20px;
    height: 20px;
}

.general-info__img {
    width: 20px;
    height: 19px;
}

/* --------------------------------- */
.general-info__utility-pages {
    width: 335px;
}

.utility-pages__title {
    margin-left: -14px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.36px;
}

.utility-pages__list {
    list-style: none;
    margin-left: -54px;
}

.utility-pages__item {
    margin-bottom: 24px;
    color: #525C60;
    font-size: 18px;
    font-family: Open Sans;
    line-height: 28.8px;
    letter-spacing: 0.36px;
}

/* ----------------------------------- */
/* ---------- footer__copyright -----------*/
.copyright__line {
    margin-top: 147px;
    width: 1440px;
    /* height: 2px; */
    /* border: none;
    color: #D5D5D5; */
    border: 1px solid #D5D5D5;
}

.copyright__list {
    margin-left: 371px;
    margin-top: 21px;
    list-style: none;
}

.copyright__item {
    display: inline-block;
}

.copyright__item:nth-child(1) {
    color: #525C60;
    text-align: center;
    font-size: 18px;
    font-family: Open Sans;
    line-height: 32.4px;
    letter-spacing: 0.36px;
}

.copyright__item:nth-child(2) {
    margin-left: 8px;
    color: #274C5B;
    text-align: center;
    font-size: 18px;
    font-family: Open Sans;
    line-height: 28.8px;
    letter-spacing: 0.36px;
}

.copyright__item:nth-child(3) {
    margin-left: 5px;
    color: #525C60;
    text-align: center;
    font-size: 18px;
    font-family: Open Sans;
    line-height: 32.4px;
    letter-spacing: 0.36px;
}

.copyright__item:nth-child(4) {
    margin-left: 6px;
    color: #274C5B;
    text-align: center;
    font-size: 18px;
    font-family: Open Sans;
    line-height: 28.8px;
    letter-spacing: 0.36px;
}