/* ----------- общие стили -----------*/
body {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
}

.subtitle {
    font-family: "RobotoBold";
    color: #274C5B;
    font-size: 70px;
    font-family: Roboto;
}

.title {
    font-family: "Yellowtail";
    color: #7EB693;
    font-size: 36px;
}

.info-text {
    font-family: "OpenSans";
    color: #525C60;
    font-size: 18px;
    line-height: 32.4px;
    letter-spacing: 0.36px;
}

/* ----------- обшие стили для кнопок ----------- */
/* <<<<<<<<<<<<<<<<<<<<<<<< */
.button {
    border-radius: 16px;
    height: 82px;
    font-size: 19px;
    font-family: Roboto;
    line-height: 32px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    /* padding-left: 20px; */
}

.arrow {
    display: inline-block;
    border-radius: 40px;
    width: 36px;
    height: 33px;

    background-color: #335B6B;
    border: 1px solid #335B6B;
    margin-left: 24px;
}

.button-yellow {
    border: 1px solid #EFD372;
    background: #EFD372;
    text-transform: capitalize;
    padding-left: 29px;
    padding-top: 2px;
    color: #274C5B;
    font-size: 19px;
    font-family: Roboto;
    line-height: 32px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

/* .arrow {
    background-color: #335B6B;
    border: 1px solid #335B6B;
    margin-left: 24px;
} */


.button-darkgrey {
    border: 1px solid #274C5B;
    background: #274C5B;
    text-transform: capitalize;
    padding-left: 29px;
    padding-top: 2px;
    color: #FFF;
    font-size: 19px;
    font-family: Roboto;
    line-height: 32px;
    letter-spacing: 0.6px;
    text-transform: capitalize;
}

/* .arrow-yellow {
    background-color: #335B6B;
    border: 1px solid #335B6B;
    margin-left: 24px;
} */

/* >>>>>>>>>>>>>>>>>>>>>>>>> */

/* Общие стили цветов для title, subtitle */
.text-white {
    color: #ffffff;
}

.text-green {
    color: #7EB693;
}

.text-darkgrey {
    color: #274C5B;
}


/* ----------- header ----------- */
.header {
    padding-top: 40px;
    /* padding-bottom: 54px; */
}

.header-logo {
    margin-top: 7px;
    margin-left: 30px;
}

.header__menu {
    margin-top: -48px;
    margin-left: 310px;
    list-style: none;
}

.menu__item {
    display: inline-block;
    font-family: "RobotoRegular";
    color: #274C5B;
    cursor: pointer;
    font-size: 19px;
    line-height: 32px;
    padding-right: 38px;
    letter-spacing: 0.36px;
}

.menu__item:last-child {
    padding-left: 22px;
}

.menu__item:hover {
    font-family: "RobotoRegular";
    color: #7EB693;
}


.header__basket {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "RobotoRegular";
    color: #274C5B;
    background-color: #FFFFFF;
    border: 1px solid #D4D4D4;
    border-radius: 33px;
    margin-top: -66px;
    margin-left: 1251px;
    height: 70px;
    width: 159px;
    font-size: 17px;
}

.header__basket-img {
    width: 56px;
    height: 56px;
    margin-left: -22px;
    margin-top: 0px;
}

.header__basket-text {
    margin-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.header__basket-quantity {
    margin-bottom: 3px;
}

/* ----------- header__welcome -----------*/
.header__welcome {
    padding-top: 40px;
    height: 913px;
}

.welcome__container {
    background-image: url(../img/main-image.svg);
    background-size: cover;
    background-size: no-repeat;
    width: 1440px;
    height: 913px;
}

.welcome__title {
    /* color: #7EB693;
    font-size: 36px;
    font-family: Yellowtail; */
    line-height: 64.8px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    padding-top: 220px;
    padding-left: 30px;
}

.welcome__subtitle {
    /* color: #274C5B;
    font-size: 70px;
    font-family: Roboto; */
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0.36px;
    width: 525px;
    padding-top: 14px;
    padding-left: 30px;
}

.welcome__button {
    width: 219px;
    margin-top: 30px;
    margin-left: 30px;
    /* color: #274C5B;
    font-size: 19px;
    font-family: Roboto;
    line-height: 32px; */
    /* letter-spacing: 0.36px; */
    /* text-transform: capitalize;
    padding-left: 29px;
    padding-top: 2px; */
}

/* ----------- short-info -----------*/
.short-info__container {
    margin-top: 140px;
    margin-bottom: 140px;
}

.short-info__list {
    margin: 0;
    /* margin-top: 35px; */
    margin-left: -10px;
    list-style: none;
}

.short-info__item {
    display: inline-block;
}

.short-info__item:not(:last-child) {
    margin-right: 46px;
}

.short-info__item:nth-child(1) {
    background-image: url(../img/natural.svg);
    background-size: cover;
    background-size: no-repeat;
    width: 665px;
    height: 378px;
}

.short-info__item:nth-child(2) {
    background-image: url(../img/offer.svg);
    background-size: cover;
    background-size: no-repeat;
    width: 665px;
    height: 378px;
}

.short-info__title {
    font-size: 36px;
    line-height: 64.8px;
    letter-spacing: 0.36px;
    padding-top: 105px;
    padding-left: 55px;
}

.short-info__subtitle {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.36px;
    padding-top: 1px;
    padding-left: 55px;
    width: 264px;
}

/* ----------- about-us -----------*/
.about-us__container {
    height: 1006px;
    background: #F9F8F8;
}

.about-us__info {
    width: 675px;
    margin-top: -695px;
    margin-left: 705px;
}

.about-us__img {
    display: inline-block;
    width: 675px;
    height: 642px;
    margin-top: 177px;
    margin-left: 30px;
}

.about-us__title {
    font-size: 36px;
    line-height: 64.8px;
    letter-spacing: 0.36px;
    /* margin-top: 130px; */
    margin-left: 30px;
}

.about-us__subtitle {
    font-size: 45px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 58.5px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    width: 521px;
    margin-top: 0px;
    margin-left: 30px;
}

.about-us__description {
    width: 670px;
    margin-top: 22px;
    margin-left: 30px;
}

.about-us__list {
    list-style: none;
    margin-top: 56px;
    margin-left: -8px;
}

.about-us__item {
    margin-bottom: 30px;
}

.about-us__item-img {
    border-radius: 20px;
    background: #FFF;
    padding: 29px 24px 24px 22px;
}

.about-us__item:nth-child(1) .about-us__item-img {
    width: 53px;
    height: 46px;
    padding: 29px 24px 24px 22px;
}

.about-us__item:nth-child(2) .about-us__item-img {
    width: 56px;
    height: 52px;
    padding: 20px 24px 24px 20px;
}

.about-us__item-description {
    margin-left: 20px;
}

.item-description__title {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.36px;
}

.about-us__item:nth-child(1) .about-us__item-description {
    margin-top: -103px;
    margin-left: 118px;
}

.about-us__item:nth-child(1) .item-description__text {
    margin-top: 10px;
    width: 552px
}

.about-us__item:nth-child(2) .about-us__item-description {
    margin-top: -114px;
    margin-left: 118px;
}

.about-us__item:nth-child(2) .item-description__title {
    margin-top: 7px;
}

.about-us__item:nth-child(2) .item-description__text {
    margin-top: 10px;
    width: 539px;
}

.about-us__button {
    margin-left: 30px;
    margin-top: 12px;
    width: 199px;
}

/* ----------- our-product -----------*/